html, body {
    min-height: 100%;
    min-width: 100%;
    color: lavenderblush;
    font-size: 20px;
}


body {
    background-image: url("../../images/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 2;
}
#overlay{
    background-color: rgba(0,0,0,0.3);
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;


}

#headline{
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    overflow: hidden;
}




